@import './functions';
@import './variables';
@import './breakpoints';


* { margin: 0; padding: 0; box-sizing: border-box; }

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBold.ttf');
    font-weight: 800;
}

$margin: 5.5%;
$label: #6E7191;


.h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.75px;
    margin-bottom: 0;
}

.h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.75px;
    margin-bottom: 0;
}

.h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    margin-bottom: 0;
}

.h6 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.75px;
    margin-bottom: 0;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

body {
    color: $black;
    position: relative;
    background-color: #f9f8f2;
}

.dropdown-toggle {
    background-image: url('../assets/icon-dropdown.svg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    padding-right: 1rem;
}
.dropdown-toggle::after {
    display: none;
}

.title-block {
    text-align: center;
}

.header {
    background-color: white;
    box-shadow: 0 4px 5px -1px rgba(128, 128, 128, 0.281);

    .header-banner__p {
       color: white;
       text-align: center;
       padding: 13px;
    }

    .nav {
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: $margin;
        margin-left: $margin;

        .nav-links {
            display: flex;
            justify-content: space-evenly;
            width: 54%;
            margin-left: 32px;
    
            .nav-links__item {
                color: $black;
            }
        }

        .icon-box {
            display: flex;
            gap: 30px;
            align-items: flex-start;
        }
    }   
}

.different-color {
    color: $secondary;
}

.fixed-btn {
    display: flex;
    background-color: $secondary;
    color: white;
    align-items: center;
    gap: 10px;
    box-shadow: -4px 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
    padding: 8px 10px;
    transform: rotate(-90deg);
    width: fit-content;
    position: fixed;
    right: -43px;
    bottom: 50%;
    z-index: 1;
}

.img-near-btn {
    position: absolute;
    left: calc(50% + 8em);
    bottom: 0;
}

.landing-section {
    display: flex;
    align-items: center;
    padding-left: $margin;
    padding-right: 3%;
    padding-top: 35px;
    position: relative;
    

    .landing__text {
        position: relative;

        .landing__title {
            color: $primary;
        }

        .underline {
            position: absolute;
            top: 98px;
            left: 72px;
            z-index: -1;
            opacity: 0.6;
        }
    }

    .landing__img {
        filter: drop-shadow(-10px 10px 44px rgba(0, 0, 0, 0.25));
        width: 110%;
        margin-left: -10%;
    }

    .landing__arrow {
        position: absolute;
        bottom: 40px;
    }

    .landing__bg {
        background-color: #f9f8f2;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -2;
        width: 100%;
        height: 100%;
    }

    .landing__drawings {
        position: absolute;
        top: 0;
        left: 10%;
        z-index: -1;
        transform: rotate(3.22deg);
        opacity: 0.8;
    }

    .landing__divisor {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .landing__triangle {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

.vertical-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.video-section {
    padding-bottom: 330px;
    position: relative;

    .video-section__img {
        position: absolute;
        top: 0px;
        left: 0;
        z-index: -1;
    }
    
    .title-block {
        margin-top: 124px;
    }

    .video-section__drawings {
        position: absolute;
        bottom: -75px;
        width: calc(100% - 8em);
    }

    .arrow-btn {
        bottom: 345px;
    }

}

.product-section {
    margin-bottom: 78px;
    position: relative;

    .product-container {
        display: flex;
        gap: 24px;
        padding-left: $margin;
        padding-right: $margin + 3%;
    
        .product-col {
            display: flex;
            flex-direction: column;
            gap: 24px;
    
            .product-card {
                position: relative;
                border: 6px solid white;
                height: fit-content;
            
                .btn-hover {
                    position: absolute;
                    top: 65%;
                    left: 50%;
                    visibility: hidden;
                    transform: translate(-50%, -50%);
                }
        
                .product-txt {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                }
            }
        
            .product-card:hover {
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                .product-img {
                    filter: blur(16px);
                }
        
                .btn-hover {
                    visibility: initial;
                }
        
                .product-txt {
                    top: 40%;
                }
            }
        }
    
    }

    .img-near-btn {
        bottom: 47px;
    }
}

.img-bg-wrapper {
    width: 300px;
    height: 1px;
    position: relative;
    margin-left: auto;
    margin-top: 132px;

    .img-bg-wrapper__shell {
        position: absolute;
        top: 0;
        left: 0;

        &--lv1 {
            z-index: 2;
            left: 0;
            top: 0;
        }

        &--lv2 {
            z-index: 1;
            left: 39px;
            top: -54px;
        }

        &--lv3 {
            left: -23px;
            top: -51px;
        }
    }
}

.section-item {
    margin-top: 95px;
    padding-bottom: 40px;
    position: relative;

    .item-container {
        display: flex;
        gap: 36px;

        .card-item:hover {
            cursor: pointer;
        }
        
        .card-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: fit-content;

            .item-img {
                position: relative;

                .sale-banner {
                    position: absolute;
                    right: 16px;
                    top: 16px;
                    border-radius: 40px;
                    background: #00BA88;
                    padding: 7px 16px;
                    color: white;
                }
            }

            .item-txt {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;

                .item-txt__type {
                    color: $label;
                }

                .item-txt__quantity {
                    color: $label;
                }

                .item-txt__title {
                    text-align: center;
                }
            }

            .item-price-box {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;

                .item-price {
                    color: $black;
    
                    &--new {
                        color: #00BA88;
                    }
    
                    &--old {
                        text-decoration: line-through;
                    }
                }
            }
            
        }
    }

    .btn {
        margin-top: 88px;
    }

    .section-item__draw {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.cooklab-section {
    background-image: url('../assets/aside-bg.png');
    display: flex;
    align-items: center;
    background-size: cover;
    margin-top: 72px;
    margin-bottom: 124px;
    
    .title-block {
        margin-left: -160px;

        .h2 {
            margin-bottom: 24px;
        }

        .btn {
            margin-top: 72px;
        }
    }
}

.carousel-section {
    position: relative;
    padding-bottom: 40px;
    margin-top: 96px;


    .img-near-btn {
        left: unset;
        right: calc(50% + 8em);
        bottom: 0;
    }
}

.carousel {
    display: flex;
    gap: 48px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        background-color: #D9DBE9;
        height: 3px;
    }

    &::-webkit-scrollbar-track {
        background: #D9DBE9; 
        border: 1px solid #f9f8f2;
        border-left: 72px solid #f9f8f2;
        border-right: 72px solid #f9f8f2;
    }

    &::-webkit-scrollbar-thumb {
        background: $secondary; 
        border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #802a49;
    }

    .carousel-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .carousel-img-container {
            position: relative;

            .carousel-img-container__img {
                border: 5px solid white;
            }

            .carousel-img-container__icon {
                position: absolute;
                display: flex;
                gap: 16px;
                top: 24px;
                right: 24px;
            }

            .carousel-img-container__time {
                background-color: white;
                border-radius: 40px;
                border: 1px solid $secondary;
                padding: 7px 16px;
                color: $secondary;
                max-width: fit-content;
                position: absolute;
                right: 24px;
                bottom: 24px;
            }
            
            .btn-hover {
                position: absolute;
                top: 50%;
                left: 50%;
                visibility: hidden;
                transform: translate(-50%, -50%);
            }
        }
        
    }

    .carousel-card:hover {
        
        .carousel-img-container__img {
            filter: blur(16px);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }

        .btn-hover {
            visibility: visible;
        }
    }
}

.draw-wrapper {
    display: flex;
    justify-content: space-between;
}

.section-article {
    margin-top: -96px;
    padding-left: $margin;
    padding-right: $margin;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .article-container {
        display: flex;
        justify-content: space-between;
        margin-top: 84px;
        margin-bottom: 96px;

        .card-article {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            width: min-content;
        
            &:hover {
                cursor: pointer;
        
                .article__img {
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                }
        
                .article-txt__title {
                    color: $secondary;
                }
            }
        
            .article-txt__title {
                margin-bottom: 16px;
            }
        
            .card-article-footer {
                display: flex;
                justify-content: space-between;
                margin-top: 24px;
            }
        }
    }

    .img-near-btn {
        bottom: 36px;
        left: calc(50% + 6em);
    }
}

.infographic-container {
    margin-top: 112px;
}

.infographic {
    background-color: $tertiary;
    padding-left: $margin;
    padding-right: $margin;
    padding-bottom: 150px; 

    &--last {
        padding-bottom: 230px;
    }

    .infographic__title {
        white-space: pre-line;
    }

    .infographic-list {
        margin-top: 110px;
        display: flex;
        justify-content: space-between;

        &--space-evenly {
            justify-content: space-evenly;
        }

        .infographic-list__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;

            .infographic__number {
                align-self: flex-start;
            }
        }
    }
}

.quote-author {
    color: #4E4B66;
}

.infographic__divider {
    
    &--rotate {
        transform: rotate(180deg);
        position: relative;
        z-index: -1;
    }
}

.newsletter-box {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: -265px;
    position: relative;

    .newsletter__draw {
        position: absolute;
        bottom: 0;

        &--left {
            left: 0;
            border-radius: 0 0 0 30px;
        }

        &--right {
            right: 0;
            border-radius: 0 0 30px 0;
        }
    }

    .newsletter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.8rem 8rem;
        
        a {
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }

        .newsletter__terms {
            color: $label;
            text-align: center;
            margin-top: 24px;
            margin-bottom: 32px;
        }

        .newsletter__mail {
            margin-top: 58px;
            background: #EFF0F7;
            border-radius: 16px;
            color: #A0A3BD;
            border: 0;
            position: relative;
            background-image: url('../assets/Mail.svg');
            background-repeat: no-repeat;
            background-position-x: 25px;
            background-position-y: 50%;
            padding-left: 65px;

            &:focus {
                border-color: $secondary;
                box-shadow: 0 0 0 0.25rem rgba(172 57 100 / 25%);
            }
        }
    }
}

.pro-section {
    display: flex;
    align-items: baseline;
    margin-top: 250px;
    margin-bottom: 150px;
    
    .pro-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;

        .h4 {
            color: #4E4B66;
        }

        .h3 {
            margin-bottom: 8px;
            margin-top: 27px;
        }
    }
}

.footer {
    background-color: $secondary;
    background-image: linear-gradient(#A73761, $secondary);

    .footer__logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-list-container {

        .footer-list {
            color: white;

            .footer-list__head {
                opacity: 0.6;
            }

            .footer-list__a {
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
